= render_tabs [{ name: 'settings', partial: 'settings/omniauth_saml/settings', label: :label_settings },
               { name: 'info', partial: 'settings/omniauth_saml/info', label: :label_information_plural }]
- html_title(l(:label_settings), l(:label_omniauth_saml))
