#saml-login {
  margin: 3em auto 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#saml-login form button {
  padding: 10px 20px 38px;
  color: #fff;
  background-color: #f17e32 !important;
  text-shadow: 1px 1px 1px #666;
  border-radius: 20px;
  border: 10px solid #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  font-size: larger;
}

#saml-login form button:hover {
  background-color: #e27126 !important;
}

#login-form table { margin-top: 2em; }
